

:root {
    font-family: "Rubik", sans-serif;
    --main-color: rgb(136, 73, 109);
}

#screen-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80%
}


#gameboard {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, minmax(50px, 150px));
}

h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 5rem;
    color: var(--main-color);
}